{% extends 'main/layout.html' %}

{% block title %}О сайте{% endblock %}

{% block body %}
<div class="features">
        <h1>О сайте</h1>
        <p>На сайте представлен функционал передачи заявки на специалиста для предоставление услуги на подключение к сети Интернет, а также на подключение/ремонт телефонной связи.</p>
        <p>ОАО РЖД – это один из ведущих провайдеров услуг подключения к сети интернет и настройки/ремонта телефонной связи в России. Наша компания обладает широким опытом в предоставлении услуг связи и уделяет особое внимание развитию технологических решений для улучшения качества связи и удовлетворения потребностей клиентов в сфере коммуникаций.</p>
        <p>Мы постоянно совершенствуем наши сервисы, следим за тенденциями в сфере связи и внедряем инновационные технологии для обеспечения надежного и быстрого интернет-подключения, а также качественной телефонной связи.</p>
        <p>Нашей главной целью является удовлетворение потребностей наших клиентов в области связи. Мы стремимся предоставлять высококачественные услуги, оперативно реагировать на запросы и обеспечивать надежное подключение к сетям интернет и телефонии.</p>
        <p>Центр технического обслуживания (ЦТО) нашей компании занимается профессиональной настройкой, обслуживанием и ремонтом сетей связи. Наши специалисты – это опытные профессионалы, готовые помочь вам в любое время и решить любые технические проблемы.
        Мы гордимся нашим коллективом специалистов, который стремится к высокому качеству обслуживания и индивидуальному подходу к каждому клиенту. Мы ценим доверие наших заказчиков и всегда готовы помочь вам!</p>
        <a href="{% url 'home' %}"><button class="btn btn-danger"><i class="bi bi-house-door-fill"></i> На главную </button> </a>
    </div>
{% endblock %}
