{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Данный WEB-интерфейс представляет собой удобный способ передачи заявки на специалиста для предоставление услуги на подключение к сети Интернет, а также на подключение/ремонт телефонной связи.</p>
        <p>Для создание заявки необходимо нажать на кнопку "Создать заявку". Далее у вас откроется окно для создания заявки. Ваши заявки можно посмотреть в панели навигации "Заявки".</p>
        <a href="{% url 'create' %}"><button class="btn btn-warning"> <i class="bi bi-plus-circle"></i> Создать заявку</button></a>

    </div>
{% endblock %}
